In [1]:
numbers = [20, 10, 30, 5, 50]
numbers[::-1]

[50, 5, 30, 10, 20]

In [2]:
print(numbers[1:])
print(numbers[0:3]) #3rd index is excluded
print(numbers[::-1])

print(numbers[-1])
print(numbers[0])
print(numbers[0:2])

[10, 30, 5, 50]
[20, 10, 30]
[50, 5, 30, 10, 20]
50
20
[20, 10]

In [3]:
print (numbers)

for x in numbers:   
    print (x*x)

#for variable in sequence    
squares = [x*x for x in numbers]
print (squares)

[20, 10, 30, 5, 50]
400
100
900
25
2500
[400, 100, 900, 25, 2500]

In [ ]:
# Create a function that accepts a list and returns Squares of the numbers
def list_squares(input_list):
    print("Input List is:", input_list)
    return_val = [x*x for x in input_list]
    return return_val

list_squares(numbers)

In [ ]:
sorted_list = sorted(numbers, reverse=True)
sorted_list

[5, 10, 20, 30, 50]

In [ ]:
max(numbers), min(numbers), sum(numbers)

In [ ]:
len(numbers)

In [8]:
for i in range(0, 3, 1): # start, end(excluded), step
    print(f"{i}: {numbers[i]}")

0: 20
1: 10
2: 30

In [ ]:
for i in range(0, 20, 1):
    if (i % 2 != 0):
        print(f"Odd: {i}")
    else:
        print(f"Even: {i}")

In [9]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
	print(fruit)

apple
banana
cherry

In [ ]:
for char in "Python":
	print(char)

In [ ]:
for i in range(5):  # From 0 to 4
	print(i)
for i in range(1, 10, 1):  # From 1 to 9 with step of 1
	print(i)