In [6]:
person = {
	"name": "Alice",
	"age": 30,
	"is_student": False
}

for key in person:
	print(key, ":", person[key])

name : Alice
age : 30
is_student : False

In [ ]:

#Person is a dictionary, name is a key


print(person["name"]) #Alice
print (person.get("name", "UNKNOWN")) #Alice


print(person["age"])
print(person["is_student"])

print(person.get("name"))  
print(person.get("age"))  
print(person.get("is_student"))

In [4]:
print(person.get("address"))  
print(person.get("address", "1 ABC Street")) 

# person["address"]

None
1 ABC Street

In [3]:
person["age"] = 31
person

{'name': 'Alice', 'age': 31, 'is_student': False}

In [4]:
person

{'name': 'Alice', 'age': 31, 'is_student': False}

In [5]:
del person["is_student"]

In [6]:
person

{'name': 'Alice', 'age': 31}

In [7]:
person_1 = {
	"name": "Alice",
	"age": 30,
	"is_student": False
}

person_2 = {
	"name": "Jim",
	"age": 20,
	"is_student": True
}

classroom = [person_1, person_2]
classroom

# Give me ages for all persons in the classroom
ages = [person["age"] for person in classroom]
print(ages)

for person in classroom:
    print(person["age"])

[30, 20]
30
20

## Exception Handling

In [8]:
try:
    del person["is_student"]
except Exception as e:
    print(f"Error in removing key: {e}")

In [9]:
try:
    a = 10
    b = 0
    print (a/b)
except Exception as e:
    print(f"Error: {e}")

Error: division by zero

In [10]:
print(person)
print(person.pop("age"))
print(person)

{'name': 'Jim', 'age': 20}
20
{'name': 'Jim'}

In [ ]:
person1 = {
	"name": "Alice",
	"age": 30,
	"is_student": False
}
person2 = {
	"name": "Mark",
	"age": 34,
	"is_student": False
}
persons = [person1, person2] #List of dictionaries

for person in persons:
    for key in person:
	    print(key, ":", person[key])

name : Alice
age : 30
is_student : False
name : Mark
age : 34
is_student : False